body {
	/*font-family: 'Press Start 2P', cursive;*/
	font-family: 'Fira Mono', monospace;
	/*font-family: 'cute_tattooregular';*/
	text-align: center;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#title, #text-area, .score-boards, .game-buttons {
	font-family: 'cute_tattooregular';
}

#text-area {
	font-size: 3em;
}

.wrapper {
	margin: 0 20%;
	padding-bottom: 3%;
	width: auto;
	height: auto;
	position: relative;
}

#title {
	font-size: 5em;
	font-weight: normal;
	padding-top: 10px;
	margin-top: 0px;
}

#game-notifications {
	background: rgba(255, 255, 255, 0.8);
	font-weight: bolder;
	font-size: 3em;
	position: absolute;
	top: 35%;
	z-index: 50;
}


#dealer-cards {
	position: relative;
	background-color: #15843f;
	height: 100px;
	width: 100%;
	margin-top: -50px;
}

#player-cards {
	position: relative;
	background-color: #15843f;
	height: 100px;
	width: 100%;
}

.cards {
	position: relative;
	display: inline-block;
	background-color: white;
	margin-left: 5px;
	margin-right: 5px;
	height: 100px;
	width: 75px;
	border-radius: 7px;
	font-size: 6em;
}

.suits {
	position: absolute;
	left: 2px;
	top: 0;
	font-size: 20px;
}

.suit-upper-left {
	position: absolute;
	top: 15px;
	left: 0;
}

.hidden {
	display: none;
}

.score-boards {
	font-size: 2em;
	margin-top: 10px;
	color: white;
}

.contrast-card {
	position: absolute;
	height: 100px;
	width: 75px;
	left: 0px;
	opacity: .3;
	color: white;
	top: 0;
	/*clip: rect(0px,75px,100px,37px);*/
	clip: rect(0px,37.5px,100px,0px);
	z-index: 9;
}

#face-down-card {
	position: absolute;
	background-color: #390754;
	display: inline-block;
	margin-left: 90px;
	height: 100px;
	width: 75px;
	border-radius: 7px;
	z-index: 20;
}

.arrows {
	font-size: 2em;
}

.game-buttons {
	font-size: 2em;
	font-weight: bolder;
	padding: 10px;
}

.game-buttons:hover {
	cursor: pointer;
	color: #390754;
}




#face-down-card {
/*	background:
radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
radial-gradient(circle, transparent 20%, #390754 20%, #390754 80%, transparent 80%, transparent) 50px 50px,
linear-gradient(#390754 8px, transparent 8px) 0 -4px,
linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
background-color: slategray;
background-size:0px 0px, 3px 5px, 2px 2px, 2px 2px;*/

/*
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 25px 25px;*/
  


/*
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 150px 150px;*/

}