body {
	/*font-family: 'Press Start 2P', cursive;*/
	font-family: 'Fira Mono', monospace;
	text-align: center;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@font-face {
    font-family: 'cute_tattooregular';
    src: url('assets/fonts/cutetat-webfont.woff2') format('woff2'),
         url('assets/fonts/cutetat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#title, #text-area, .score-boards, .game-buttons, #new-game-button {
	font-family: 'cute_tattooregular';
}

#text-area {
	font-size: 3em;
}

.wrapper {
	margin: 0 20%;
	padding-bottom: 3%;
	width: auto;
	height: auto;
	position: relative;
}

#title {
	font-size: 5em;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 0px;
}

#game-notifications {
	position: fixed;
	left: 0;
	background: rgba(255, 255, 255, 0.8);
	font-weight: bolder;
	font-size: 3em;
	top: 33%;
	z-index: 50;
}


#dealer-cards {
	position: relative;
	background-color: #15843f;
	height: 100px;
	width: 100%;
	margin-top: -50px;
}

#player-cards {
	position: relative;
	background-color: #15843f;
	height: 100px;
	width: 100%;
}

.cards {
	position: relative;
	display: inline-block;
	background-color: white;
	margin-left: 5px;
	margin-right: 5px;
	height: 100px;
	width: 75px;
	border-radius: 7px;
	font-size: 100px;
}

.suits {
	position: absolute;
	left: 2px;
	top: 0;
	font-size: 20px;
}

.suit-upper-left {
	position: absolute;
	top: 22px;
	left: 0;
}

.hidden {
	display: none;
}

.score-boards {
	font-size: 2em;
	margin-top: 10px;
	color: white;
}

#face-down-card {
	position: absolute;
	background-color: #390754;
	display: inline-block;
	margin-left: 90px;
	height: 100px;
	width: 75px;
	border-radius: 7px;
	z-index: 20;
}

.arrows {
	font-size: 2em;
}

.game-buttons, #new-game-button {
	font-size: 2em;
	font-weight: bolder;
	padding: 10px;
}

.game-buttons:hover {
	cursor: pointer;
	color: #FFFFFF;
	transition: .2s;
}

#new-game-button:hover {
	cursor: pointer;
	font-size: 3em;
}

#new-game-button:hover {
	transition: .2s;
	font-size: 3em;
}

@media only screen and (max-width: 600px) {
	html, body {
		height: 100%;
	}

	.wrapper {
	margin: 0;
	height: 100%;
	}

	#game-notifications {
		top: 30%;
	}

	.game-buttons:hover, #new-game-button {
	cursor: pointer;
	color: black;
	}

}
