html, body {
	background-color: #1A1A1A;
}

body {
	overflow: hidden;
}

/*@-ms-viewport{
  width: device-width;
}*/

img {
	user-select: none;
}

/*#app * {
	height: 100%;
	width: auto;
}*/

.wheel {
  position: absolute;
  height: 100%;
	width: auto;
  top: 0;
  /*margin: 0 auto;*/
  padding: 0;
  border: 0;
/*    display: block;
  margin-left: auto;
  margin-right: auto;*/
}



/*.buttons img {
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 5px;
}*/

/*.buttons img:hover {
	cursor: pointer;
	opacity: 0.6;
	transition: .2s;
}*/