/*html, body {
	background-color: #1A1A1A;
}*/

body {
	overflow: hidden;
}

/*@-ms-viewport{
  width: device-width;
}*/

img {
	user-select: none;
}

.wheel {
	/*position: absolute;*/
		z-index: 1;
  height: 100%;
	width: auto;
  top: 0;
  padding: 0;
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

@media (max-width: 479px) {

	.wheel {
		width: 100%;

	}
}


.animation {
	/*position: absolute;*/
		z-index: 1;
  height: 100%;
	width: auto;
  top: 0;
  padding: 0;
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

@media (max-width: 479px) {

	.animation {
		width: 100%;

	}
}

